*
body
{
	background: url(wallpaper.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: auto;
}

h1{
	font-family: Lucida Handwriting;
	letter-spacing: 5px;
}
h2{
	font-family: Papyrus;
	letter-spacing: 2px;
}

video}
	width: 100%;
	height: auto;
}
