*
body
{
	background: url(wallpaper.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: auto;
}

h1{
	font-family: Lucida Handwriting;
	letter-spacing: 5px;
}

h2{
	font-family: Papyrus;
	letter-spacing: 2px;
}

h3{
	font-family: Garamond;
	letter-spacing: 2px;
  	font-style: oblique;
	color: darkblue;
}
p{
	font-size:15px;
}

h4{
	font-family: Garamond;
	letter-spacing: 2px;
  	font-style: oblique;
	color: darkblue;
}
p{
	font-size:15px;
}

h5{
	font-family: Garamond;
	letter-spacing: 2px;
  	font-style: oblique;
	color: darkblue;
}
p{
	font-size:15px;
}

img {
  border-radius: 10px;
}
